/.DS_Store
/.direnv
/.envrc
/.ipynb_checkpoints
/.vscode
/BND.csv
/BNDX.csv
/CovidVaccine - Booking Confirmation.pdf
/ETF prices.csv
/ETFs.csv
/Meaningful name.ipynb
/MonkeypoxVaccine - Booking Confirmation.pdf
/Nonograms.ipynb
/Plaid.ipynb
/Untitled.ipynb
/VTI.csv
/VTIP.csv
/VXUS.csv
/cache.sqlite
/client_secret_923141729060-6u42i9smjbsi6di575jjtblc8dqddgqc.apps.googleusercontent.com.json
/fortune500.csv
/go.sh
/jupyter-finance-d16d514b70e9.json
/modern-portfolio-theory-with-jax-DRAFT.ipynb
/requirements.txt
/temp.ipynb